@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:200,400,700');

// Variables
$background: #f3f7f8;
$dark-blue: #373b5d;
$shadow: #373b5d;

$button-red: #984047;
$button-green: #22887f;

$circle-fill: #5b5d8e;
$shadow-fill: #373b5d;
$icon-fill: #eaf1f4;

//Mixins
@mixin button-setup($color) {
  padding: 5px 30px;
  margin: 10px 0 0;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  background: $color;
  color: white;
  cursor: pointer;
  &:hover {
    background: darken($color, 10%);
  }
}


/* Basic Setup */

body {
  font-family: 'Mukta Mahee', sans-serif;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}


/* App Setup */
.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


/* SVG Setup */
svg {
  width: 150px;
  height: 150px;
  #icon-circle {
    fill: $circle-fill;
  }
  #icon-shadow {
    fill: $shadow-fill;
  }
  #icons {
    fill: $icon-fill;
  }
}



/* Header Setup */
.header {
  background: $dark-blue;
  color: $icon-fill;
  text-align: center;
  padding: .5em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  svg {
    width: 75px;
    height: auto;
    #icon-circle {
      fill: none;
    }
  }
  h3 {
    margin-top: -20px;
  }
}

/* Button Styles */
.button {
  text-align: center;
}
.reset-button {
  @include button-setup($button-red);
}
.return-button {
  @include button-setup($button-green);
  margin: 30px 0 20px;
}

/* Panel Setup */
.panels {
  display: flex;
  flex-direction: column;
  .panel {
    flex-grow: 1;
    background: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .panel-detail {
      pointer-events: none;
    }
    .panel-holder {
      cursor: pointer;
    }
    h1 {
      text-align: center;
      text-transform: uppercase;
      color: $shadow-fill;
      pointer-events: none;
      
    }
    svg {
      pointer-events: none;
    }
  }
}


/* Steps Setup */
.steps{
  margin-top: -60px;
  .step-one {
    margin-bottom: 100px;
  }
  .step-title {
    position: relative;
    margin: 20px 0;
    svg {
      display: block;
      margin: 50px auto 15px;
      width: 75px;
      height: 75px;
      top: 50%;
      left: 50%;
    }
    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: white;
      text-shadow: 1px 1px 5px black;
    }
  }
  .step-info {
    background: white;
    width: 90vw;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    h3 {
      margin: 20px 0 0;
    }
    h3:first-of-type {
      margin: 0;
    }
    .input-and-error{
      position: relative;
      .inputs {
        border: 1px solid $dark-blue;
        border-radius: 3px;
        width: 200px;
        height: 20px;
        font-size: 16px;
        padding: 0 8px;
      }
      .error-warning {
        // position: absolute;
        width: 200px;
        margin: 0 auto;
        border: red solid 1px;
        background: pink;
        border-radius: 3px;
        padding: 0 4px;
      }
    }
    .school-quote-range {
      background: $background;
      border-radius: 5px;
      padding: 10px;
      margin-top: 40px;
      box-shadow: 0px 2px 15px -1px rgba(0,0,0,.2) inset;
      h3 {
        margin: 0 0 10px;
      }
      .school-quote-high-low {
        padding: 10px 0;
        .details {
          font-size: .75em;
          margin: 30px 0 0;
        }
      }
    }
  }
}


/* Footer Setup */
.footer {
  background: $dark-blue;
  color: $icon-fill;
  text-align: center;
}